.game{
    width: 300px;
    text-align: center;
    color: white;
    margin: auto;

}
.title{
    background-color: #2196f3;
    height: 20px;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: #fa0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(90px, 1fr));
    gap: 5px;
}
.square{
    width: 95px;
    height: 60px;
    background-color: #2196f3;
    font-size: 48px;
    text-align: center;
}
.square:hover{
    background-color: blue;
}
p{
    text-align: center;
}